main > .container{
    padding-top: 0;
}

body {
    background: lightgray;
}

.navbar {
    background-color: lightblue;
}

.card{
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    margin: .5em;
    padding: 2px;
}

.card-title{
    text-align: center;
    text-transform: capitalize;
}


.card:hover{
    transform: scale(1.05);
    margin: 0;
    border: 3px solid;
    border-color: black;
    background-color: lightblue;
}

.card:hover .card-title{
    font-weight: bold;
}