<nav class="container navbar navbar-expand">
    <ul class="navbar-nav nav-fill mb-2 w-100">
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/stevenanderson-git" style="text-decoration:none;">
                <i class="bi bi-github"></i> stevenanderson-git
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="" style="text-decoration:none;">
                Back to Top
            </a>
        </li>
    </ul>
</nav>


<!--<span class="text-muted">
        <a href="https://github.com/stevenanderson-git" style="text-decoration:none;">
            <i class="bi bi-github"></i> stevenanderson-git
        </a>
        <p class="mb-1">
            <a href="">Back to top</a>
        </p>
    </span>-->