<div class="album py-5">
    <div class="container">

        {% if video_list %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
            {% for video in video_list %}
            <div class="col">
                <div class="card shadow-lg">

                    <img src="{{url_for('static', filename=video.thumbnail)}}" class="card-img-top"
                        alt="{{video.video_title}}">

                    <div class="card-body">
                        <h4 class="text-center text-capitalize card-title">{{video.video_title}}</h4>
                        <p class="card-text">{{video.category}}</p>

                        <small class="text-muted">{{video.runtime}}</small>

                        <a href="{{url_for('video', video_title=video.video_title)}}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
        {% endif %}



    </div>

</div>