<div class="album py-5">
    <div class="container">

        {% if musicians %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for musician in musicians %}
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text>
                    </svg>

                    <div class="card-body">
                        <p class="card-text">{{musician}}</p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{{url_for('video', name=musician)}}" class="btn btn-lg btn-outline-secondary stretched-link">View Video</a>
                            <small class="text-muted">Video Time</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
        {% endif %}



    </div>

</div>